@import '../../themes/light';
@import '../../utils/exports';
@import '../label/style';

@include exports(toggle) {
  /* Toggle */
  .mc-toggle--wrapper {
    display: flex;
    align-items: center;

    .mc-label {
      flex-grow: 1;
    }

    &:hover, &:focus {
      .mc-toggle--track, .mc-toggle--knob {
        border-color: $color-control-hover;
      }
    }

    &.on {
      .mc-toggle--track, .mc-toggle--knob {
        border-color: $color-control-active;
      }
    }

    &.disabled {
      color: $color-control-disabled;

      .mc-toggle--track, .mc-toggle--knob {
        border-color: $color-control-disabled;
      }
    }
  }
  .mc-toggle {
    width: 36px;
  }
  .mc-toggle--track {
    border-bottom: $border-strong;
  }
  .mc-toggle--knob {
    background: $background;
    border: $border-strong;
    transition: $transition;
  }
  .mc-toggle--track, .mc-toggle--knob {
    border-color: $color-control-inactive;
  }
}
