@import '../../themes/light';
@import '../../utils/exports';
@import '../label/style';

@include exports(checkbox) {
  /* Checkbox */
  .mc-checkbox {
    display: flex;
    align-items: center;

    &:hover {
      .mc-checkbox--border {
        border-color: $color-control-hover;
      }
    }

    &.on {
      .mc-checkbox--icon:before {
        content: '✓';
      }
    }
    &.off {
      .mc-checkbox--icon:before {
        content: '✕';
      }
    }
    &.indeterminate {
      .mc-checkbox--icon:before {
        content: '—';
      }
    }

    &.disabled {
      color: $color-control-disabled;

      .mc-checkbox--border {
        border-color: $color-control-disabled;
        color: $color-control-disabled;
      }
    }
  }

  .mc-checkbox--border {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    margin-right: $spacing-small;
    border: $border-strong;
    border-color: $color-control-inactive;
    color: $color-control-active;
  }
}
