@import '../theme/light';

/* Dropdown */
.mc-dropdown {
  display: flex;
  align-items: center;

  label {
    flex-grow: 1;
  }

  .mc-dropdown--arrow {
    color: $color-control-inactive;
    padding: 8px;

    &:after {
      content: "▾";
    }
  }

  select {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border-radius: 0;
    border: $border-thin;
    border-color: $color-control-inactive;
    color: $color-control-inactive;
    outline: 0;
    padding-left: 8px;
    padding-right: 24px;
  }

  &:hover, &:focus {
    select {
      border-color: $color-control-hover;
      color: $color-control-hover;
    }
    .mc-dropdown--icon {
      color: $color-control-hover;
    }
  }

  select:focus {
    border-color: $color-control-active;
  }

  &.disabled {
    color: $color-control-disabled;

    select {
      border-color: $color-control-disabled;
      color: $color-control-disabled;
    }
  }
}
