@import '../../themes/light';
@import '../../utils/exports';
@import '../label/style';

@include exports(textbox) {
  /* TextBox */
  .mc-textbox--wrapper {
    label {
      display: block;
    }

    &:hover input {
      color: $color-control-hover;
      border-color: $color-control-hover;
    }

    &.disabled {
      color: $color-control-disabled;

      .mc-textbox--input {
        border-color: $color-control-disabled;
        color: $color-control-disabled;
      }
      .mc-textbox--clear {
        display: none;
      }
    }
  }
  .mc-textbox--input {
    outline: none;
    padding: 0 8px;
    color: $color-control-inactive;
    border: $border-thin;
    border-color: $color-control-inactive;

    &:focus {
      color: $color-control-hover;
      border-color: $color-control-active;
    }
  }

  .mc-textbox--clear {
    padding: 8px;
    color: $color-control-inactive;

    &:hover {
      color: $color-control-hover;
    }
    &:after {
      content: '✕'
    }
  }
}
