/* Colors */
$background: #FFFFFF !default;
$color-subtle: #D6D6D5 !default;
$color-disabled: #D6D6D5 !default;
$color-inactive: #A6A5A5 !default;
$color-hover: #1C1B1B !default;
$color-active: #11939A !default;

/* Typography */
$text-body-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$text-body-font-size: 12px !default;
$text-body-line-height: 1.5 !default;
$text-body-color: #000000 !default;

/* Borders */
$border-thin: solid 1px !default;
$border-strong: solid 2px !default;

/* Shadows */
$shadow-color: rgba(0, 0, 0, 0.15) !default;
$shadow-small: 0 2px 4px 0 $shadow-color !default;

/* Layout */
$spacing-tiny: 4px !default;
$spacing-small: 8px !default;
$spacing-normal: 12px !default;
$spacing-large: 24px !default;
$spacing-huge: 48px !default;

/* Animation */
$transition: all 300ms ease !default;
