@import '../themes/light';

.mc-float-panel {

  .mc-float-panel--title {
    @include text-header($color-text-invert);
    background: invert($color-control-inactive);
    text-align: center;

    &:hover {
      background: $color-control-hover;
    }
  }
  .mc-float-panel--resizer {
    width: 12px;
    height: 12px;
  }
}
