@import '../themes/light';

.mc-float-panel {

  .mc-float-panel--title {
    font: $text-header;
    background: invert($color-control-inactive);
    color: invert($color-text-primary);
    text-align: center;

    &:hover {
      background: $color-control-hover;
    }
  }
  .mc-float-panel--resizer {
    width: 12px;
    height: 12px;
  }
}
