@import 'themes/light';
@import 'shared/react-vis';

@import 'shared/style';
@import 'drag-drop-list/style';
@import 'float-panel/style';
@import 'playback-control/style';
@import 'form/style';
@import 'table/style';
@import 'metric-card/style';

body {
  @include text-body;
}
