@import 'shared/theme/light';

body {
  font-family: $text-body-font-family;
  font-size: $text-body-font-size;
  line-height: $text-body-line-height;
  color: $text-body-color;
}

@import 'shared/popover/style';
