@import '../../themes/light';

/* Slider */
.mc-slider-wrapper {
  label {
    display: block;
  }

  .mc-slider--track {
    background: $color-control-inactive;
    height: 2px;
  }
  .mc-slider--track-fill {
    background: $color-control-active;
    transition: $transition;
  }
  .mc-slider--knob {
    position: absolute;
    border: $border-strong;
    border-color: $color-control-inactive;
    background: $background;
    transition: $transition;
  }
  &:hover {
    .mc-slider--knob {
      border-color: $color-control-hover;
    }
  }
  &.active {
    .mc-slider--knob {
      border-color: $color-control-active;
    }
  }
  &.disabled {
    .mc-slider--track, .mc-slider--track-fill {
      background: $color-control-disabled;
    }
    .mc-slider--knob {
      border-color: $color-control-disabled;
    }
  }
}
